body{
    background-color: rgb(200, 224, 243);
}

.container{
    background-color: rgb(167, 200, 236);
    margin: 16px auto;
    width: 340px;
    border-radius: 15px;
}

.header{
    text-align: center;
    color: white;
    background-color: rgb(69, 160, 148);
    padding: 1px;
    border-radius: 15px 2px;
}

.recipes{
    margin: 0px auto;
    width: 280px;
    padding: 20px 20px 12px 20px;
}

img{
    margin: 7px;
}

ul{
    margin: 0px;
}

a{
    color: rgb(46, 46, 153);
}